<main class="container mx-auto px-4 py-12 md:py-16 lg:py-24">
  <div class="mx-auto max-w-3xl space-y-8">
    <h1 class="text-3xl font-bold tracking-tight sm:text-4xl md:text-5xl">
      Find parts of your code
    </h1>
    <div class="grid gap-8 md:grid-cols-2">
      <div class="space-y-4">
        <div class="grid gap-1.5">
          <label
            class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
            for="file-input"
            >Add .ts or .tsx files</label
          ><input
            class="flex h-10 rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 w-full"
            type="file"
            (change)="handleFIleChange($event)"
            id="file-input"
            accept=".ts,.tsx"
            multiple
          />
        </div>
        <button
        [ngClass]="{'opacity-30':isAnalyzing}"
          class="inline-flex items-center bg-primary text-primary-foreground justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background  focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-10 px-4 py-2 w-full hover:opacity-90 transition-all duration-300"
          (click)="handleAnalyze()"
        >
          Analyze Code
        </button>
        <div *ngIf="canSearch" class="grid gap-4">
          <div class="grid gap-1.5">
            <label
              class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
              for="search-input"
              >Search code</label
            ><input
              class="flex h-10 rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 w-full"
              type="text"
              id="search-input"
              [(ngModel)]="query"
              placeholder="Enter search string"
            />
          </div>
          <button
          class="inline-flex items-center bg-primary hover:opacity-90 duration-300 justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-all focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-10 px-4 py-2 w-full text-primary-foreground"
          [ngClass]="{'opacity-30':isSearching}"
          (click)="handleSearch()"
        >
          Search for code
        </button>
          
        </div>
        <div class="grid gap-2">
          <p class="text-sm font-medium">Top Matches:</p>
          <div class="grid gap-2">
            <div *ngFor=" let match of matches" class="flex items-center justify-between">
              <p class="text-sm">{{match.metadata.fileName}}</p>
              <p class="text-sm text-gray-500 dark:text-gray-400">{{match.score}}</p>
            </div>
          </div>
        </div>
      </div>
  <div class="space-y-4">
    <h2 class="text-2xl font-bold tracking-tight">
      Uploaded Files
    </h2>
    <div class="grid gap-4">
      <div *ngFor="let content of fileContent" class="rounded-md border-[2px] border-gray-200 p-4 dark:border-gray-800 xl:max-w-[40rem] max-w-[100%] lg:max-w-[35rem]  md:max-w-[30rem]">
        <p class="text-sm font-medium">{{content.name}}</p>
        <div id="separator" class="my-4 bg-black/15 w-full h-[1px]"></div>
        <!-- <pre class="whitespace-pre-wrap break-words text-sm text-gray-500 dark:text-gray-400">
            {{content.content}}
        </pre> -->
        <pre><code [highlight]="content.content" language="typescript"></code></pre>
      </div>
    </div>
  </div>
    </div>
  </div>
</main>
